<footer id="tt-footer" class="no-margin">
	<div class="footer-wrapper">
	<div class="container">
		<nav class="f-nav" id="f-nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/gallery">Gallery</a></li>
				<li><a href="/honoured">Honoured Guests</a></li>
				<li><a href="/founders">Founders</a></li>
			</ul>
		</nav>
		<div class="f-logo">
			<a href="/" class="tt-logo tt-logo-alignment">
				<img src="/static/images/ydmydmlogo1.png.png">
			</a>
		</div>
		<div class="f-col">
			<div class="row">
				<div class="col-md-4">
					<div class="f-info">
						<div class="f-info__icon icon-place"></div>
						<div class="f-info__content">
							<div class="tt-title">Location</div>
							<address>
								Accra, Ghana <br> 
							</address>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="f-info">
						<div class="f-info__icon icon-phone"></div>
						<div class="f-info__content">
							<div class="tt-title">Contact Number</div>
							<address>
								+233 550 450 337
							</address>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="f-info">
						<div class="f-info__icon icon-mail"></div>
						<div class="f-info__content">
							<div class="tt-title">Email</div>
							<address>
								adamabdulrafik@gmail.com 
							</address>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="f-social">
			<ul>
				<li><a href="#" class="icon-social-facebook"></a></li>
				<li><a href="#" class="icon-social-twitter"></a></li>
				<li><a href="#" class="icon-social-googleplus"></a></li>
				<li><a href="#" class="icon-social-linkedin"></a></li>
			</ul>
		</div>
		<div class="f-copyright">
			&copy; 2023 Youth Discovery Movement (YDM). All Rights Reserved.<br>
		</div>
	</div>
</div>
</footer>
<script src="/static/js/jquery.min.js"></script>
<script async src="/static/js/bundle.js"></script>


<div class="modal fade" id="modalVipTables" tabindex="-1" role="dialog" aria-label="modalVipTables" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content ">
			<div class="modal-body modal-layout-dafault">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon-close"></span></button>
				<div class="modal-titleblock">
					<div class="modal-title">VIP Table</div>
				</div>
				<form class="form-modal" id="jsFormVipTable" method="post" novalidate="novalidate" action="#">
					<div class="form-group">
						<div class="tt-skinSelect-01">
							<select name="typeofholiday" class="tt-select">
								<option value="Paradisco By Occupy The Disco – 23 Jan">Paradisco By Occupy The Disco – 23 Jan</option>
								<option value="Gustavo Outsource Steve Play – 28 Jan">Gustavo Outsource Steve Play – 28 Jan</option>
								<option value="Friday Night Memoirs In Paradise – 30 Jan">Friday Night Memoirs In Paradise – 30 Jan</option>
								<option value="March Madness Travis Gold / Macho Iza – 2 Feb">March Madness Travis Gold / Macho Iza – 2 Feb</option>
								<option value="Warm Up Get The Party Started – 5 Feb">Warm Up Get The Party Started – 5 Feb</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<input type="text" name="name" class="form-control" id="modalName02" placeholder="Your name *">
					</div>
					<div class="form-group">
						<input type="text" name="email" class="form-control" id="modalEmail02" placeholder="Email address *">
					</div>
					<div class="form-group">
						<input type="text" name="phone" class="form-control" id="modalPhone03" placeholder="Phone number *">
					</div>
					<div class="form-group">
						<input type="text" name="groupsize" class="form-control" id="modalTotal02" placeholder="Group size *">
					</div>
					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label>Date:</label>
								<input name="date" class="j_datepicker-1 form-control" type='text'>
								<div class="form-group__icon icon-calendar"></div>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label>Event time:</label>
								<div class="tt-skinSelect-01">
									<select name="eventtime" class="tt-select">
										<option value="9:00 PM">9:00 PM</option>
										<option value="10:00 PM">10:00 PM</option>
										<option value="11:00 PM">11:00 PM</option>
										<option value="12:00 PM">12:00 PM</option>
										<option value="13:00 PM">13:00 PM</option>
										<option value="14:00 PM">14:00 PM</option>
										<option value="15:00 PM">15:00 PM</option>
										<option value="16:00 PM">16:00 PM</option>
										<option value="17:00 PM">17:00 PM</option>
										<option value="18:00 PM">18:00 PM</option>
										<option value="19:00 PM">19:00 PM</option>
										<option value="20:00 PM">20:00 PM</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<textarea class="form-control" name="message" placeholder="Comments"></textarea>
					</div>
					<div class="row-btn text-center">
						<button type="submit" class="tt-btn-default"><span>submit</span></button>
					</div>
					<div class="tt-modal-message">Form sent successfully</div>
				</form>
			</div>
		</div>
	</div>
</div>
<a href="#" id="js-backtotop" class="tt-back-to-top"><i class="icon-arrow_top"></i></a>