<nav class="panel-menu" id="mobile-menu">
	<ul>

	</ul>
	<div class="mm-navbtn-names">
		<div class="mm-closebtn">Close</div>
		<div class="mm-backbtn">Back</div>
	</div>
</nav>
<header id="tt-header" class="align-items-center">
	<div class="tt-holder">
		<div class="tt-col">
			<a href="/" class="tt-logo tt-logo-alignment">
	            <img style="height: 56px !important;" src="/static/images/ydmlogo1.png" alt="">
            </a>
		</div>
		<div class="tt-col tt-col tt-desctop-parent tt-wide">
            <nav id="tt-nav">
                <ul>
                    <li><a href="/"><span>HOME</span></a></li>
                    <li><a href="/about"><span>ABOUT US</span></a></li>
                    <li><a href="/gallery"><span>GALLERY</span></a></li>
                    <li><a href="/honoured"><span>HONOURED GUESTS</span></a></li>
                    <li><a href="/founders"><span>FOUNDERS</span></a></li>
                </ul>
                <div id="tt-nav__line"></div>
            </nav>
		</div>
		<div class="tt-col">
			<ul class="nav-btn">
				<li><a href="/#event" ><i class="icon-private"></i><span class="tt-text">Upcoming <span class="short-hide">events</span></span></a></li>
				<li><a href="/contact" ><i class="icon-tables"></i><span class="tt-text"> Contact</span></a></li>
			</ul>
		</div>
		<div class="tt-col tt-col-obj">
			<div class="tt-obj tt-obj-toggle">
				<a href="#" class="tt-menu-toggle icon-menu icon-menu-toggle"></a>
			</div>
		</div>
	</div>
</header>